<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Drogaria - Gerenciamento</title>
<link href="css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="barra-superior">
		<div class="barra-superior-estilo">
			<ul>
				<li class="butao-menu"><a href="index">Home</a></li>
				<li class=""><a href="gerenciamento-medicamentos">Gerenciamento</a></li>
			</ul>
		</div>
	</div>
	<div class="tabela-div">
		<table>
			<tr>
				<th> Codigo </th>
				<th> Nome </th>
				<th> Quantidade </th>
				<th> Preco </th>
				<th> Substancias </th>
				<th> Peso Liquido </th>
			</tr>
			<tr th:each="medicamento : ${medicamentos}">
				<td><span th:text="${medicamento.id}"></span></td>
				<td><span th:text="${medicamento.Nome}"></span></td>
				<td><span th:text="${medicamento.quantidade}"></span></td>
				<td>R$ <span th:text="${medicamento.preco}"></span></td>
				<td style="width:100px;"><span th:text="${medicamento.substancias}"></span></td>
				<td><span th:text="${medicamento.pesoLiquido}">g</span></td>
			</tr>
		</table>
	</div>
</body>
</html>