<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Drogaria - Gerenciamento</title>
<link href="css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="barra-superior">
		<div class="barra-superior-estilo">
			<ul>
				<li class="butao-menu"><a href="index">Home</a></li>
				<li class=""><a href="gerenciamento-medicamentos">Gerenciamento</a></li>
			</ul>
		</div>
	</div>

	<div class="tabela-div">
		<table>
			<tr>
				<th> Codigo </th>
				<th> Nome </th>
				<th> Quantidade </th>
				<th> Preco </th>
				<th> Substancias </th>
				<th> Quantidade </th>
			</tr>
		</table>
	</div>
</body>
</html>